{% extends "learning_logs/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>New Log: {{ topic }}</h2>
{% endblock header %}

{% block content %}

  <h3><a href="{% url 'learning_logs:topic' topic.id %}">Back to {{ topic }}</a></h3>
    
  <h4><br>Add a new log to {{ topic }}:</h4>
  <form action="{% url 'learning_logs:new_entry' topic.id %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    
    {% buttons %}
      <button name='submit' class="btn btn-primary">Add Log</button>
    {% endbuttons %}

  </form>
    
{% endblock content %}
